.base {
	height: 100%;
}
.horizontal_divider {
	margin-left: -2rem;
}
.link {
	text-decoration: none;
	color: inherit;
}

.sideBar_link_box {
	cursor: pointer;
	padding: 1.5rem 16px;
	border-radius: 1.5rem;
}
.subRoutesHeightOpen {
	transition: height 0.3s ease-in-out;
	&:last-of-type {
		padding-bottom: 0;
	}
	height: 13.5rem;
	overflow: hidden;
}
.subRoutesHeightClose {
	@extend .subRoutesHeightOpen;
	height: 0;
}
.sideBar_link {
	gap: 1.8rem;
}

.logout {
	color: inherit;
	text-decoration: inherit;
}

.light {
	@include theme($black, $white);
	.sideBar_link_box {
		&:hover {
			background-color: rgba($dark, $alpha: 0.1);
		}
	}
}
.dark {
	@include theme($grey, $dark8);
	.sideBar_link_box {
		&:hover {
			background-color: rgba($dark2, $alpha: 0.1);
		}
	}
}

@include md-breakpoint {
	.subRoutesHeightOpen {
		padding: 0.4rem 1.8rem;
		height: 11rem;
	}
	.subRoutesHeightClose {
		height: 0;
	}

	.sideBar_link_box {
		padding: 1rem 1.5rem;
	}
}
