.tableBase {
	padding: 0.5rem 0;
	box-shadow: $box-shadow;
	max-width: 100%;
	height: calc(100dvh - $nav-height);
	overflow-y: auto;
	overflow-x: hidden;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
}
.dropDownBtn {
	background-color: white;
	gap: 0.5rem;
	padding: 0.1rem;
}
.buttonStyleBaseDropDownU {
	gap: 1rem;
	border: 1px solid $grey;

	&:hover {
		border: 1px solid $grey;
	}
}
.dropDownMenuItem {
	text-align: center;
	width: 100%;
	background: white;
	border-bottom: 1px solid $grey;
	padding: 0.5rem;
	cursor: pointer;
	&:hover {
		background-color: $grey;
		color: white;
	}
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark8);
	@include scrollBar($dark8);
	.buttonStyleBaseDropDownU {
		background-color: $dark6;
		border-color: $dark6;
	}
	.dropDownMenuItem {
		@include theme($grey, $dark7);
		border-bottom-color: $dark5;

		&:hover {
			background-color: $dark3;
			color: white;
		}
	}
	.dropDownBtn {
		@include theme($grey, $dark6);
	}
}

@media only screen and (max-width: 650px) and (min-width: $xm) {
	.tableWrapper {
		overflow-x: auto;
		font-size: 0.65rem;
	}
}
