.orderTableHeader {
	display: grid;
	font-weight: $fw-bold;
}
.orderTableRow {
	display: grid;
	border-bottom: 0.5px solid $grey;
	$:hover {
		background-color: ;
	}
}
.orderDetail {
	padding: 1rem;
	font-size: $fs-sm;
}
