.app {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

.body {
	display: flex;
	align-items: flex-start;
}

.sideBar {
	width: 37px;
	height: 100dvh;
}
.navBar {
	max-width: 100%;
	flex-grow: 1;
}

@include md-breakpoint {
	.sideBar {
		min-width: 120px;
	}
}

@include lg-breakpoint {
	.sideBar {
		min-width: 216px;
	}
}
