$nav-height: 7vh;
.app {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.body {
	display: grid;
	grid-template-columns: 1fr 6fr;
}
.title {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-bottom: 1px solid $grey;
	border-right: 1px solid $grey;
}
.logo_link {
	text-decoration: none !important;
}
.logo_container {
	color: $purple;
	vertical-align: top;
	font-weight: $fw-semibold;
	user-select: none;
	cursor: pointer;
}
.layout_left {
	padding-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 0fr;
	height: 100%;
}
.sideBar {
	border-right: 1px solid $grey;
}
.navBar {
	border-bottom: 1px solid $grey;
}

.children {
	height: calc(100vh - $nav-height);
	overflow-y: scroll;
}
