@import "./../styles/scss/foundation/all";
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
html {
	font-size: 100%;
}

* {
	box-sizing: border-box !important;
}

/* Chrome, Edge, and Safari */
* {
	@include scrollBar();
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	border: 0;
}
body {
	// overflow-x: hidden;
}

@media only screen and (max-width: $xl) {
	html {
		font-size: 80%;
	}
}
@media only screen and (max-width: $lg) {
	html {
		font-size: 60%;
	}
}
@media only screen and (max-width: $md) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: $l-mad) {
	html {
		font-size: 50%;
	}
}
@media only screen and (max-width: $xm) {
	html {
		font-size: 40%;
	}
}

@import "./../node_modules/bootstrap/scss/bootstrap";
