@import "./../styles/scss/foundation/all";
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";

$primary: $dark;
$secondary: $grey;

$custom-theme-color: (
	"primary": $primary,
	"secondary": $secondary,
);

$theme-colors: map-merge($theme-colors, $custom-theme-color);

* {
	box-sizing: border-box !important;
}
* {
	scrollbar-width: auto;
	scrollbar-color: $grey #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1rem;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: $grey;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
body {
	// overflow-x: hidden;
}

@import "./../node_modules/bootstrap/scss/bootstrap";
