.body {
	display: grid;
	grid-template-columns: 1fr 6fr;
}
.layout_left {
	padding-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 0fr;
	height: 100%;
}
.vertical_divider {
	margin-top: -1rem;
	margin-bottom: -1rem;
}
.horizontal_divider {
	margin-left: -100%;
}
.layout_right {
	flex: 4;
}
