.base {
}
.container {
	display: flex;
	gap: 1rem;
}

.progress {
	flex: 1;
	box-shadow: $box-shadow;
}
.graph {
	flex: 2.2;
	box-shadow: $box-shadow;
}
.homePageLayout {
	padding: 1rem;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark8);
	.progress {
		box-shadow: none;
	}
	.graph {
		box-shadow: none;
	}
}
