.base {
	padding: 0 3rem;
	max-width: 100%;
	height: calc(100dvh - $nav-height);
	overflow-y: auto;
	overflow-x: hidden;
}
.container {
	width: 100%;
	margin-top: 1rem;
}

.progress {
	box-shadow: $box-shadow;
	margin-bottom: 1rem;
}
.graph {
	box-shadow: $box-shadow;
	margin-bottom: 1rem;
}
.homePageLayout {
	padding: 1rem;
}

.table {
	margin: 0 -4rem;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark8);
	@include scrollBar($dark8);
	.progress {
		box-shadow: none;
	}
	.graph {
		box-shadow: none;
	}
}

@include custom-breakPoint(700px) {
	.base {
		padding: 0.5rem 0;
	}
	.container {
		display: inline-grid;
		grid-template-columns: 1fr 2fr;
		grid-auto-rows: 1fr;
		gap: 1rem;
	}
	.table {
		margin: 0 0;
	}
}
