.base {
	position: relative;
	z-index: 3;
}
.dropDownMenu {
	overflow-y: scroll;
	position: absolute;
	z-index: 25;
	width: 100%;
	border-radius: 5px 5px 10px 10px;

	&::-webkit-scrollbar {
		width: 0;
	}
}
.buttonStyleBase {
	gap: 1rem;
	padding: 0.1rem 0.4rem;
	border: 1px solid $grey;

	&:hover {
		border: 1px solid $grey;
	}
}
.dropDownStyleActive {
	overflow-y: scroll;
	max-height: 20rem;
}
.dropDownStyleUnActive {
	max-height: 0;
}

.light {
	@include theme($black, $white);
	.dropDownStyleActive {
		border-right: 1px solid $grey;
		border-bottom: 1px solid $grey;
		border-left: 1px solid $grey;
	}
}
.dark {
	@include theme($grey, $dark8);
	.dropDownStyleActive {
		border-right: 1px solid $dark5;
		border-bottom: 1px solid $dark5;
		border-left: 1px solid $dark5;
	}
}
