.base {
	padding: 0.5rem 0;
	max-width: 100%;
	height: calc(100dvh - $nav-height);
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark8);
	@include scrollBar($dark8);

	.gridItem {
		@include theme($white, $dark7);
	}
}

@include xm-breakpoint {
	.base {
		grid-template-columns: 1fr 1fr;
	}
}

@include custom-breakPoint($l-mad) {
	.base {
		grid-template-columns: 1fr 1fr;
	}
}
