.base {
	padding: 0.5rem 0;
	max-width: 100%;
	height: calc(100dvh - $nav-height);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.even {
	max-width: 100%;
}
.odd {
	max-width: 100%;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark8);
	@include scrollBar($dark8);

	.gridItem {
		@include theme($white, $dark7);
	}
}

@include xm-breakpoint {
	.base {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.even {
		max-width: calc(50%);
	}
	.odd {
		max-width: calc(50%);
	}
}
