.base {
	position: absolute;
	right: 0;
	top: 0;
	transition: width 200ms ease;
	width: 0;
	overflow-x: hidden;
	height: 100%;
	z-index: 10;
	background-color: white;
}
.active {
	width: 60%;
}
.un_active {
	font-size: $fs-xs;
}
.header {
	padding-left: 1rem;
	height: calc($nav-height - 1px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon {
	fill: $grey;
}
.notificationBox {
	padding: 1rem;
	cursor: pointer;
}

.light {
	@include theme($black, $white);
	border-left: 1px solid $grey;
}
.dark {
	@include theme($dark-grey, $dark8);
	border-left: 1px solid $dark5;
	.horizontal_divider {
		border-bottom: 1px solid $dark5;
	}

	.btn {
		background-color: $dark8;
	}
}

@include xm-breakpoint {
	.active {
		width: 50%;
	}
}

@include custom-breakPoint($md) {
	.active {
		width: 30%;
	}
}
