.logo_container {
	color: $purple;
	vertical-align: top;
	font-weight: $fw-semibold;
}
.horizontal_divider {
	margin-left: -2rem;
}

.sideBar_link_box {
	padding: 1rem 1.5rem;
	cursor: pointer;
	border-radius: 1.5rem;
	&:hover {
		background-color: rgba($dark, $alpha: 0.1);
	}
}
.subRoutes {
	padding: 0.4rem 1.8rem;
	transition: height 0.3s ease-in-out;
	&:last-of-type {
		padding-bottom: 0;
	}
	height: 11rem;
	overflow: hidden;
}
.sideBar_link {
	gap: 1.8rem;
}
.subRoutesHeight {
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	transition: height 300ms ease;
}
