.base {
	height: 100%;
}
.sideBar_link {
	gap: 1.8rem;
}
.sideBar_link_box {
	cursor: pointer;
	padding: 1.5rem 16px;
	border-radius: 1.5rem;
}

.logout {
	text-decoration: none;
	color: inherit;
}

.light {
	@include theme($black, $white);
	border-right: 1px solid $grey;
	.sideBar_link_box {
		&:hover {
			background-color: rgba($dark, $alpha: 0.1);
		}
	}
}
.dark {
	@include theme($white, $dark8);
	border-right: 1px solid $dark5;
	color: $grey;
	.sideBar_link_box {
		&:hover {
			background-color: rgba($dark2, $alpha: 0.1);
		}
	}
}
@include md-breakpoint {
	.sideBar_link_box {
		padding: 1rem 1.5rem;
	}
}
