.base {
	display: flex;
	width: 100%;
	border: 1px solid $grey;
	border-radius: 5px;
}
.focus {
	box-shadow: $form-box-shadow;
}
.icon_btn {
	z-index: 2;
	background-color: $body-bg-color;
	&:hover {
		background-color: $body-bg-color;
	}
}
.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark6);
	border-color: $dark6;
}
