@import "./../../../styles/scss/foundation/mixing";

.base {
	box-shadow: $box-shadow;
	min-width: 16rem;
	width: 70%;
}

.linkText {
	cursor: pointer;
	text-decoration: underline;
	font-size: $fs-sm;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($grey, $dark7);
	box-shadow: none;
}
@include md-breakpoint {
	.base {
		width: 100%;
	}
}
