.product_img {
	border-radius: 50%;
	object-fit: cover;
	height: 2rem;
	width: 2rem;
	margin-right: 10px;
}
.base {
	width: 100%;
	margin-bottom: 1rem;
	vertical-align: top;
}

.wrapper {
}

.light {
	@include theme($black, $white);

	tr {
		border-bottom: 1px solid #dee2e6;
	}
}
.dark {
	@include theme($grey, $dark7);
	tr {
		border-bottom: 1px solid $dark6;
	}
}
