.base {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 100%;
}
.chartBox {
	flex-grow: 1;
	max-width: 100%;
}
.chart {
}
.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark7);
}

@include md-breakpoint {
	.base {
		margin-inline: auto;
	}
}
