.base {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	background-color: #ffffff;
	padding: 0.5rem;
	cursor: pointer;
}
.gridItem {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: $fs-sm;
}
.text {
	font-size: $fs-sm;
}
