.base {
	padding: 0 1rem 1rem 1rem;
	text-align: center;
	max-height: 30rem;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}
.gridItem {
	color: $secondary;
}

.light {
	@include theme($black, $white);
}
.dark {
	@include theme($white, $dark7);
}
